<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<title>
        BIC - OBR - {% block title %}{% endblock %}
    </title>

	<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
	<link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>

	<!-- CSS Bootstrap -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <!-- Specific Page CSS goes HERE  -->
    {% block stylesheet %}{% endblock %}

</head>
<body class="bg-light">
	
	{% include 'layouts/navigation.html' %}

	{% block content %}{% endblock %}

	{% include 'layouts/footer.html' %}
	
	<!-- All JS project's  -->
	<script src="/static/js/bootstrap.bundle.min.js"></script>
    
    {% block javascript %}
		<!-- Specific Code JS goes HERE  -->
    {% endblock %}
</body>
</html>