<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>
        BIC - OBR - {% block title %}{% endblock %}
    </title>

	<link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>

	<!-- CSS Bootstrap -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/docs.css" rel="stylesheet">

	<!-- JS Bootstrap -->
    <script src="=/static/js/bootstrap.bundle.min.js"></script>

    <!-- Specific Page CSS goes HERE  -->
    {% block stylesheet %}{% endblock %}

</head>
<body class="p-3 m-0 border-0 bg-light">
	{% include 'layouts/navigation.html' %}

	{% block content %}{% endblock %}

	{% include 'layouts/footer.html' %}

    {% block javascript %}
		<!-- Specific Code JS goes HERE  -->
    {% endblock %}
</body>
</html>