{% extends "layouts/base.html" %}

{% block title %} Envoyer Facture {% endblock %}

{% block stylesheet %}
    <style>
        
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">INFOMATIONS DE LA FACTURE N°<span class="text-primary"> {{ reference }}</span></h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <fieldset disabled>
                        <div class="row g-3">
                            <div class="col-md-2">
                                <label for="num_invoice" class="form-label">N° Facture</label>
                                <input type="text" class="form-control" id="nu_invoice" value="{{ invoice.invoice_number }}">
                            </div>
                            <div class="col-md-2">
                                <label for="date" class="form-label">Date</label>
                                <input type="text" class="form-control" id="date" value="{{ invoice.invoice_date }}">
                            </div>
                            <div class="col-md-3">
                                <label for="client" class="form-label">Client</label>
                                <input type="text" class="form-control" id="client" value="{{ invoice.tp_name }}">
                            </div>
                            <div class="col-md-5">
                                <label for="police" class="form-label">Signature</label>
                                <input type="text" class="form-control" id="police" value="{{ invoice.invoice_signature }}">
                            </div>
                            <div class="col-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" checked>
                                    <label class="form-check-label" for="invalidCheck2">
                                        Validée
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </li>
                <li class="list-group-item">
                    <table class="table table-success table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Désignation</th>
                                <th scope="col">Prime Net</th>
                                <th scope="col">Frais</th>
                                <th scope="col">TVA</th>
                                <th scope="col">Prime brut</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for obj in invoice_items %}
                            <tr>
                                <td>{{ obj.item_designation }}</td>
                                <td>{{ obj.item_price }}</td>
                                <td>{{ obj.item_tl }}</td>
                                <td>{{ obj.vat }}</td>
                                <td>{{ obj.item_total_amount }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>                    
                </li>
            </ul>
            <div class="card-body">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmModal">
                    Envoyer la facture
                </button>
            </div>
            <div class="card-footer">
                <small class="text-muted">Seule la facature validée peut être envoyée à l'OBR.</small>
            </div>
        </div>
        <br>
        {% if sent %}
            {% if success %}
                <!-- Success Alert -->
                <div class="alert alert-success d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"></use></svg>
                    <div>
                        {{ message }}
                    </div>
                </div>
            {% elif warning %}
                <!-- Warning Alert -->
                <div class="alert alert-warning d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"></use></svg>
                    <div>
                        {{ message }}
                    </div>
                  </div>
            {% else %}
                <!-- Error Alert -->
                <div class="alert alert-danger d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div>
                        {{ message }}
                    </div>
                </div>
            {% endif %}
        {% else %}
            <!-- Info Alert -->
            <div class="alert alert-primary d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:"><use xlink:href="#info-fill"></use></svg>
                <div>
                    {{ message }}
                </div>
              </div>
        {% endif %}
    </div>
  
    <!-- Modal -->
    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmer l'envoi de la facture l'OBR</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Êtes-vous sûr d'envoyer cette facture <span class="text-success"> {{ reference }} </span> à l'OBR ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <a href="{% url 'send_invoice' reference %}" class="btn btn-danger">Confirmer</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}